<%- include('partials/head')%>


    <h1 style="text-transform: capitalize">
        <%=category%> products!
    </h1>
    <ul>
        <% for(let product of products) { %>
            <li>
                <a href="/products/<%=product._id%>">
                    <%=product.name%>
                </a>

            </li>
            <% }%>
    </ul>

    <a href="/products/new">New Product</a>
    <% if(category!='All' ) {%>
        <a href="/products/">All Products</a>
        <%}%>

            <%- include('partials/footer')%>